*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.background-img{
  background-image: url('https: //stock.adobe.com/ca/search?k=technology&asset_id=298000277');
  background-size: cover;
}